<form (ngSubmit)="form.valid && agregarEntrada()" #form="ngForm">
    <div class="agregar">
        <div class="agregar_contenedor">
            <select [ngClass]="{redfocus : tipo === 'egresoOp'}" (change)="tipoOperacion($event)" class="agregar_tipo">
                <option value="ingresoOp" selected>+</option>
                <option value="egresoOp">-</option>
            </select>
            <input [ngClass]="{redfocus : tipo === 'egresoOp'}" autocomplete="off" type="text"
                class="agregar_descripcion" placeholder="Agregar Descripción" name="descripcionInput"
                [(ngModel)]="descripcionInput" required>
            <input [ngClass]="{redfocus : tipo === 'egresoOp'}" autocomplete="off" type="number" class="agregar_valor"
                placeholder="Valor" name="valorInput" [(ngModel)]="valorInput" required>
            <button type="submit" class="agregar_btn" (submit)="agregarEntrada()">
                <i [ngClass]="{red : tipo === 'egresoOp'}" class="ion-ios-checkmark-outline"></i>
            </button>
        </div>
    </div>
</form>